.title {
  margin: auto;
  text-align: center;
  color: rgb(100, 100, 100);
}

.toggle {
  width: min-content;
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
}

.hour-row,
.heading {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  color: rgb(100, 100, 100);
  border-bottom: solid 1px rgb(214, 214, 214);
}

.hour-row {
  color: rgb(100, 100, 100);
}

.hour {
  font-size: 1.2rem;
}

.actual-temp {
  font-size: 1.2rem;
  /* color: rgb(100, 100, 100); */
}

.feel-temp {
  font-size: 1rem;
  color: rgba(133, 133, 133, 0.932);
}

.wind-direction {
  font-size: 1.5rem;
}

.wind-speed {
  font-size: 1rem;
}

.weather {
  text-transform: capitalize;
}

.weather img {
  width: 80%;
  height: 80%;
  margin: auto 10%;
  filter: invert(0.2);
  -webkit-filter: invert(0.2);
}
