@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins";
  box-sizing: border-box;
}
.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: -1px 2px 7px 0px rgba(224, 224, 224, 0.75);
  overflow: hidden;
}
